body {
  background-color: #4d4a8f;
  font-family: "Quicksand", sans-serif;
  max-width: 1440px;
  text-align: center;
}

main {
  max-width: 420px;
  max-height: 800px;
  display: block;
  margin: 25px auto 20px;
  box-shadow: -6px 3px 10px -1px rgba(0, 0, 0, 0.05);
  line-height: 1.5;
  background: white;
  border-radius: 10px;
}

footer {
  margin-bottom: 20px;
  color: white;
}

img.main {
  width: 150px;
  height: 150px;
  padding-top: 30px;
}

h1 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

h2 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;
}

h3 {
  font-size: 50px;
  margin: 0px;
  padding-top: 5px;
  line-height: 1;
}

h4 {
  font-size: 16px;
  font-weight: light;
  margin-top: 10px;
  margin-bottom: 7px;
}

h5 {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 20px;
}

p {
  font-size: 12px;
}

a {
  color: white;
  transition: all 150ms ease-in-out;
}

a:hover {
  background-color: #c2ae49;
}

form {
  padding-top: 30px;
}

.forecast-weather-day {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.forecast-temperature-max {
  font-weight: 600;
  margin: 0 2px;
}

.forecast-temperature-min {
  font-weight: 400;
  color: darkslategray;
  margin: 0 2px;
}

.forecast-tile {
  border-radius: 10px;
  margin-bottom: 10px;
}

.forecast-tile:hover {
  background-color: #dfcf56;
}

.background {
  background-color: #fbf9ea;
  padding-bottom: 20px;
  border-radius: 10px 10px 0 0px;
}

#search {
  width: 300px;
  padding: 10px 10px;
  border-radius: 15px;
  border-color: #e3e4e6;
  border-width: 1px;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

#break {
  padding: 0px 10px;
}

#forecast {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  gap: 0px;
  height: 150px;
  padding: 30px 10px 40px;
  background-color: #fbf9ea;
  border-radius: 0 0 10px 10px;
  margin-top: 20px;
}
