body {
  background-color: #4d4a8f;
  font-family: "Quicksand", sans-serif;
  max-width: 1440px;
}

main {
  max-width: 420px;
  max-height: 800px;
  display: block;
  margin: 25px auto 20px;
  box-shadow: -6px 3px 10px -1px rgba(0, 0, 0, 0.05);
  line-height: 1.5;
  background: white;
  text-align: center;
  border-radius: 10px;
}

ul {
  list-style: none;
  font-family: "Niramit", sans-serif;
}

form {
  padding-top: 30px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  color: white;
}

footer a {
  color: white;
}
img.main {
  width: 150px;
  height: 150px;
  margin-top: 5px;
}

h1 {
  font-size: 50px;
  margin: 0px;
  padding-top: 5px;
  line-height: 1;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

h3 {
  font-size: 15px;
  color: #979799;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 0px;
}

h4 {
  font-size: 16px;
  font-weight: light;
  margin-top: 10px;
  margin-bottom: 7px;
}

h5 {
  font-size: 13px;
  font-weight: lighter;
  margin: 0px;
  color: black;
}

h6 {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 20px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.current {
  padding: 0px 5px;
}

.current:hover {
  font-size: 13.5px;
}

#forecast {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  line-height: 1;
  height: 150px;
  margin-top: 40px 5px;
  padding: 40px 10px 20px;
}

.day {
  display: grid;
  place-items: center left;
}

.emoji {
  display: grid;
  place-items: center left;
}

.temp {
  display: grid;
  place-items: center right;
  padding-right: 20px;
}

.conversion {
  display: inline;
  margin-top: 0px;
  font-weight: 800;
  color: black;
}

.forecast-weather-day {
  font-size: 14px;
}

.forecast-temperature {
  font-size: 12px;
}

.forecast-tile {
  border-radius: 10px;
  margin-bottom: 10px;
}

.forecast-tile:hover {
  background-color: #fdf9cf;
}

#search {
  width: 300px;
  padding: 10px 10px;
  border-radius: 15px;
  border-color: #e3e4e6;
  border-width: 1px;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

#break {
  padding: 0px 10px;
}
